<h2>All actions</h2>

<%= link_to('React in controller', [:react_in_controller, :pages]) %>
<br/>
<%= link_to('React in erb', [:react_in_erb, :pages]) %>
<br/>
<%= link_to('Erb in React', [:erb_in_react, :pages]) %>
<br/>
<%= link_to('Bigger example', [:comments]) %>
<br/>
<%= link_to('Bigger example js disabled', [:comments, js: :broken]) %>
